

/**
	* Add box sizing to everything
	* @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
	*/
/* line 7, src/sass/components/_normalize.scss */
		*,
		*:before,
		*:after {
			box-sizing: border-box;
      border: 1px solid magenta;
		}

body {
    background: lightgray;
    font-family: 'Cantarell', sans-serif;
}

.wrapper {
  width: 80%;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  grid-gap: 10px;

}

.grid >  div {
  background: url(https://raw.githubusercontent.com/diomededavid/monsters/master/images/door.png.png) no-repeat center;
  background-size: contain;
  text-align: center;
  padding: 20px 0 0 0;
  color: darkgoldenrod;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: lightslategray;
  width: 100%;
  padding: 10px;

}